<!-- begin post -->
{% assign author = site.authors[post.author] %}
<div class="card" data-lang="{{ post.lang }}">
  <a href="{{ post.url | absolute_url }}">
    {% if post.image %}
    <img
      class="rounded mb-4"
      src="{{ site.baseurl }}/{{ post.image }}"
      alt="{{ post.title }}"
    />
    {% endif %}
  </a>
  <div class="card-block">
    <h2 class="card-title h4 serif-font">{{ post.title }}</h2>
    <div class="metafooter">
      <div class="wrapfooter small d-flex align-items-center">
        <span class="author-meta">
          By
          <span class="post-name">
            {% if post.author %}{{ author.display_name }}{% else %}{{
            site.author }}{% endif %},
          </span>
          on <span class="post-date">{{ post.date | date_to_string }}</span>
        </span>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="card-body">
      <div class="post-stats small text-muted">
        <img
          src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url={{ site.url | append: post.url | url_encode }}&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=조회수&edge_flat=false"
        />
      </div>
    </div>
  </div>
</div>
<!-- end post -->
